.App {
  display: flex;  
  flex-direction: row;  
  background: rgb(121, 153, 155);  
  justify-content: space-around;  
  height: 100vh;  
  width: 100vw;
  align-items: center; 
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(213, 200, 226);
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(88, 95, 160);
}


