body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    width: 100%;
    height: 100%;
}

.PieChart {
  display: flex;  
  flex-direction: row;  
  background: rgb(121, 153, 155);  
  justify-content: space-around;  
  height: 100vh;  
  width: 100vw;
  align-items: center; 
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(213, 200, 226);
  z-index: 1;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px;
  padding: 10px;
  background-color: rgb(88, 95, 160);
}

.parentleg{
  width: 60%
}

.circles{
  width: 30vw;
}

.legend{
  display: flex;  
  flex-direction: row;   
  justify-content: left;    
  align-items: center; 
  align-content:center;
  border:rgb(85, 93, 94) solid 1px; 
  
}  

p{
  margin: 0px 3px 3px;
  font-weight: bold;
}
.legend-values {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  padding: 60px 10px;
  border: 1px solid black;
  font-size: xx-large;
}

li{
  display: flex;
  flex-direction: column;
}
